<%- include("partials/header") %>
  <head>
    <meta charset="utf-8">
    <title>Benny's List</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.8/ejs.min.js"></script>
  </head>
  <body>

    <main class="content">
        <h2>404</h2>
        <h3>Whoops, we could not find that page!</h3>
    </main>

  </body>